
* {
  overflow: hidden;
   
}
div.header {
    
background-color: rgb(73, 73, 84);
color: aliceblue;
height: 150%;
position: relative;


}

#logoo {


max-height: 10%;
max-width: 7%;
    
}


#links {
    color: aliceblue;
    position: relative;
    right: -74%;
    


}


div.underheader {
    background-color: rgb(73, 73, 84);
    color: aliceblue;
    border: 2px;
    border-color: black;
    border-style: dotted;
  
    padding: 10px;
    width: 100%;
height: 400%;





}
div.wordimg{
    display: flex;
   margin: 40px;
   margin-left: 43%;
}
div.mainimg {
    display: flex;
   margin: 10px;
   width: 100%;
   height: auto;
  

}
img {
    width: 100%;
    max-width: 70%;
    max-height: auto%;
}
a:link {color: rgb(255, 255, 255);}

a:visited {color: rgb(209, 136, 255);}

a:hover {color: rgb(123, 164, 242);}

a:active {color: rgb(255, 216, 216);}




#imgbody{
  
border-color: black;
width: 100%;
height: 300px;
flex-direction: column;
text-align: center;
margin: 3px;
padding: 5px;
border: 1px;
}
h2 {
    text-align: center;
}

img{
    width: 100%;
   height: auto;
 
}

#wolves {
    text-align: center;
  max-width: 100%;
display: flex;
color: black;
flex-direction: row;
font-size: 16px;
}


h2 {
    border: 2px;
    border-color: black;
    border-style: dotted;



}
div.centermaintwo{
    border: 2px;
    border-color: black;
    border-style: dotted;
    background-color: rgb(216, 224, 232);
}

div.quote {
    border: 2px;
    border-color: black;
    border-style: dotted;
}
div.author {
    border: 2px;
    border-color: black;
    border-style: dotted;
}

div.bottommain{
    border: 2px;
    border-color: black;
    border-style: dotted;
}
div.bottombox {
    border: 2px;
    border-color: black;
    border-style: dotted;
}
button {
    border: 2px;
    border-color: black;
    border-style: dotted;
}

