
* {
  overflow: auto;
   
}
div.top {
background-color: rgb(73, 73, 84);
color: aliceblue;

position: relative;
display: flex;
margin: auto;
    width: auto;
    padding-right: 10px;
align-items: center;
    justify-content: space-between;
height: 190px;


}
div.logo {
    width: 16%;
height: ;
    padding-left: 10px;
    margin-right: 50%;
}
img {
    max-width: 100%;
    max-height: 100%;
}


div.links {
left: 20%;
margin: 0%;
bottom: 10px;
margin: auto;
}


div.underheader {
    background-color: rgb(73, 73, 84);
    color: aliceblue;
    padding: 10px;
    width: auto;
height: 400%;

}
div.wordimg{
    display: flex;
   margin: 40px;
   margin-left: 43%;
}
div.mainimg {
    display: flex;
   margin: 10px;
   width: 100%;
   height: auto;
  

}
img {
    width: 100%;
    max-width: 60%;
    max-height: auto;
}
a:link {color: rgb(255, 255, 255);}

a:visited {color: rgb(209, 136, 255);}

a:hover {color: rgb(123, 164, 242);}

a:active {color: rgb(255, 216, 216);}




#imgbody{
width: 100%;
height: 300px;
flex-direction: column;
text-align: center;
margin: 3px;
padding: 5px;
width: auto;
}
h2 {
    text-align: center;
}

img{
    width: 100%;
   height: auto;
 
}

#wolves {
    text-align: center;
  max-width: 100%;
display: flex;
flex-direction: row;
font-size: 16px;
}


h2 {
  font-size: 230%;



}
div.centermaintwo{
    background-color: rgb(216, 224, 232);
    padding: 2%;
    height: 60%;
    width: auto;

}

div.quote {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 18px;
}
div.author {
    position: relative;
    max-height: 100%;
    width: 27%;
    right: -72%;
}

div.bottommain{
  
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   
    

}
div.bottombox {
   
    text-align: center;
    width: 32%;
  
   margin-top: 1%;
   margin-bottom: 1%;
   margin-left: 33%;
  
  
   
}
div.button {

}
#buttonbottom {
    background-color: blue;
    color: aliceblue;
    border-radius: 300px;



}
#buttontop {

    background-color: blue;
    color: aliceblue;
    width: 45%;
    border-radius: 300px;
}

